<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>{{course.course_name}}</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'courses/style.css' %}" type="text/css">

</head>
<body>
<h1>{{course.course_name}}</h1>
<p style="text-align: end; color: gray;">
{{ course.academic_year }}年生{{ course.semester }}学期 <br />
({{ course.credits }}単位)
</p>

{% for issue in course.issue_set.all %}
<ul id="issues">
    <div style="background-color: beige;">
        <h2>{{ issue.title }}</h2>
        <p>{{ issue.content }}</p>

    </div>
</ul>
{% endfor %}

<form action="{% url 'courses:create' course.id %}" method="post">
    {% csrf_token %}
    <fieldset>
        <legend><h1>{{ course.course_name }}の課題を新規登録</h1></legend>
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>
        {% endif %}


        <label for="title">タイトル</label>
        <input type="text" id="title" name="title">
        <br />
        <label for="content">内容</label>
        <textarea id="content" name="content"></textarea>
        <br />
        <label for="lecture_number">出題回</label>
        <input type="number" id="lecture_number" name="lecture_number">

    </fieldset>
    <button type="submit" value="create">
</form>

<a href="/">講義一覧へ戻る</a>
</body>
</html>